@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f4f3ee;
}

p {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  color: #463f3a;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.to-do {
  margin-top: 120px;
  width: 40%;
}

.textInsert {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  width: 70%;
  border: 1px solid grey;
}

.divInsert {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px

}

.btnSubmit {
  width: 20%;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: grey;
  color: #fff;
}

.divLiContainer{
    display: flex;
    justify-content: center;
}

.divLi {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 5px;
}

.divLi span {
  width: 90%;
  color: white;
  background-color: grey;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  word-wrap: break-word;
}

.divLi button {
    border: none;
    background-color: rgba(255, 0, 0, 0.591);
    color: #fff;
    width: 80px;
    height: 100%;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}


li {
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}

@media (max-width: 775px) {
  input {
    width: 70%;
  }

  .divInsert button {
    width: 30%;
  }

  i {
    font-size: 30px;
    padding: 0px;
  }

  p {
    font-size: x-large;
  }
}